<style type="text/css">
	* { margin:0; padding:0; }
	body { background:#333; color:#efefef; margin-top:50px; }
	.tools { margin:25px auto; width:960px; }
	.tools p {
		margin-left:20px; color:#777; font-family: Georgia,serif;
		-webkit-text-shadow:0 0 7px #000; -moz-text-shadow:0 0 7px #000; text-shadow:0 0 7px #000;
		}
	#ip-lookup {
		border:1px solid #aaa;
		background-position:50% 50%; background-repeat:repeat-x; background-color:#777;
		-webkit-border-radius:11px; -moz-border-radius:11px; border-radius:11px;
		-webkit-box-shadow:0 0 11px #111; -moz-box-shadow:0 0 11px #111; box-shadow:0 0 11px #111;
		}
	#tools p { font-size:77px; }
	#more p  { font-size:24px; }
	#more-info p { font-size:18px; }
	#more-info ul { margin:20px 0 35px 50px; font-size:18px; color:#ccc; }
	#more-info li { margin:10px 0; line-height:25px; font-family:Helvetica, Arial; }
	h1 {
		font: 124px/1 Helvetica, Arial; text-align:center; margin:50px 0; color:#efefef;
		-webkit-text-shadow:0 0 7px #333; -moz-text-shadow:0 0 7px #333; text-shadow:0 0 7px #333;
		}
	h1 a:link { color:#efefef; }
	a:link,a:visited {
		color:#777; text-decoration:none; outline:0 none;
		-webkit-text-shadow:0 0 7px #000; -moz-text-shadow:0 0 7px #000; text-shadow:0 0 7px #000;
		}
	a:hover,a:active { color:#eee; text-decoration:underline; outline:0 none; }
	li span {
		font:16px/1 Monaco,"Panic Sans","Lucida Console","Courier New",Courier,monospace,sans-serif; color:#ccc;
		-webkit-text-shadow:0 0 3px #777; -moz-text-shadow:0 0 3px #777; text-shadow:0 0 3px #777;
		}
</style>